* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}
.grid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  flex-direction: row;
}
.col {

  width: 45px;
  height: 45px;
}

.red {
  background: red;
}

.pink {
  background: rgb(253, 225, 193);
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.brown {
  background: brown;
}

.yellow {
  background: yellow;
}